:root {
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
  --background-primary: #F4F5FB;
}

body {
  background-color: var(--background-primary);
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 62px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 627px;
  margin: 0 auto;
}

.quicklist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  width: 100%;
}

.quicklist-title {
  color: var(--content-primary);
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}


.quicklist-add-items {
  display: flex;
  gap: 16px;
  width: 100%;
}

.quicklist-add-items input {
  flex: 1;
  border: 1px solid var(--border-primary);
  border-radius: 12px;
  padding: 18px;
  box-sizing: border-box;
}

.add-item-button {
  background-color: var(--color-brand);
  color: var(--always-white);
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}


.quicklist-items-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.quicklist-items-list li {
  background-color: var(--always-white);
  border-radius: 12px;
  padding: 0 12px;
  min-height: 49px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.quicklist-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.quicklist-item button {
  margin-left: auto;
  background: url("/icons/thrash-icon.png") no-repeat center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  flex-shrink: 0;  
}

/* Responsividade */
@media (max-width: 767px) {

  .quicklist-wrapper {
    max-width: 375px;
    width: 100%;
  }

  .quicklist-add-items {
    flex-direction: column;
  }

  .add-item-button {
    width: 100%;
    text-align: center;
  }
}
