/*Variáveis*/

:root {
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    --background-primary: #F4F5FB;
}

body {
    background-color: var(--background-primary);
}

main {
    display: flex;
    flex-direction: column;
    gap: 62px;
    justify-content: center;
    align-items: center;
    max-width: 627px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.quicklist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.quicklist-wrapper .back-button {
  width: fit-content;
  background-color: transparent;
  border: none;
  color: var(--color-brand);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.quicklist-wrapper .quicklist-title {
  color: var(--content-primary);
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.quicklist-wrapper .quicklist-add-items {
  display: flex;
  gap: 16px;
}

.quicklist-wrapper .quicklist-add-items input {
  border: 1px solid var(--border-primary);
  width: 451px;
  border-radius: 12px;
  padding: 18px;
  box-sizing: border-box;
}

.quicklist-wrapper .quicklist-add-items .add-item-button {
  background-color: var(--color-brand);
  border: none;
  color: var(--always-white);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 24px;
  max-width: 160px;
  width: fit-content;
  cursor: pointer;
}

.quicklist-wrapper .quicklist-items-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding-left: 0;
  min-height: 232px;
  height: 100%;
}

.quicklist-wrapper .quicklist-items-list li {
  background-color: red;
  min-width: 627px;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: var(--always-white);
  height: 49px;
}

.quicklist-wrapper .quicklist-items-list li button {
  display: none;
}

.quicklist-wrapper .quicklist-items-list .quicklist-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  position: relative;
}

.quicklist-wrapper .quicklist-items-list .quicklist-item button {
  display: inline-block;
  right: 16px;
  background: url("/icons/thrash-icon.png") no-repeat center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  margin-left: auto;
}